<a href="https://colab.research.google.com/github/AndrewSLowe/DS-Unit-2-Applied-Modeling/blob/master/Module1/2_3_1A_applied_modeling_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Choose which observations you will use to train, validate, and test your model. And which observations, if any, to exclude.
- [ ] Determine whether your problem is regression or classification.
- [ ] Choose your evaluation metric.
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" information from the future?

In [0]:
import os
import glob
import pandas as pd

atp_matches_1968 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1968.csv'
atp_matches_1969 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1969.csv'
atp_matches_1970 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1970.csv'
atp_matches_1971 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1971.csv'
atp_matches_1972 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1972.csv'
atp_matches_1973 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1973.csv'
atp_matches_1974 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1974.csv'
atp_matches_1975 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1975.csv'
atp_matches_1976 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1976.csv'
atp_matches_1977 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1977.csv'
atp_matches_1978 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1978.csv'
atp_matches_1979 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1979.csv'
atp_matches_1980 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1980.csv'
atp_matches_1981 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1981.csv'
atp_matches_1982 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1982.csv'
atp_matches_1983 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1983.csv'
atp_matches_1984 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1984.csv'
atp_matches_1985 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1985.csv'
atp_matches_1986 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1986.csv'
atp_matches_1987 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1987.csv'
atp_matches_1988 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1988.csv'
atp_matches_1989 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1989.csv'
atp_matches_1990 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1990.csv'
atp_matches_1991 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1991.csv'
atp_matches_1992 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1992.csv'
atp_matches_1993 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1993.csv'
atp_matches_1994 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1994.csv'
atp_matches_1995 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1995.csv'
atp_matches_1996 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1996.csv'
atp_matches_1997 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1997.csv'
atp_matches_1998 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1998.csv'
atp_matches_1999 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_1999.csv'
atp_matches_2000 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2000.csv'
atp_matches_2001 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2001.csv'
atp_matches_2002 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2002.csv'
atp_matches_2003 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2003.csv'
atp_matches_2004 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2004.csv'
atp_matches_2005 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2005.csv'
atp_matches_2006 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2006.csv'
atp_matches_2007 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2007.csv'
atp_matches_2008 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2008.csv'
atp_matches_2009 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2009.csv'
atp_matches_2010 = 'https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2010.csv'

In [0]:
atp_matches_1968 = pd.read_csv(atp_matches_1968)
atp_matches_1969 = pd.read_csv(atp_matches_1969)
atp_matches_1970 = pd.read_csv(atp_matches_1970)
atp_matches_1971 = pd.read_csv(atp_matches_1971)
atp_matches_1972 = pd.read_csv(atp_matches_1972)
atp_matches_1973 = pd.read_csv(atp_matches_1973)
atp_matches_1974 = pd.read_csv(atp_matches_1974)
atp_matches_1975 = pd.read_csv(atp_matches_1975)
atp_matches_1976 = pd.read_csv(atp_matches_1976)
atp_matches_1977 = pd.read_csv(atp_matches_1977)
atp_matches_1978 = pd.read_csv(atp_matches_1978)
atp_matches_1979 = pd.read_csv(atp_matches_1979)
atp_matches_1980 = pd.read_csv(atp_matches_1980)
atp_matches_1981 = pd.read_csv(atp_matches_1981)
atp_matches_1982 = pd.read_csv(atp_matches_1982)
atp_matches_1983 = pd.read_csv(atp_matches_1983)
atp_matches_1984 = pd.read_csv(atp_matches_1984)
atp_matches_1985 = pd.read_csv(atp_matches_1985)
atp_matches_1986 = pd.read_csv(atp_matches_1986)
atp_matches_1987 = pd.read_csv(atp_matches_1987)
atp_matches_1988 = pd.read_csv(atp_matches_1988)
atp_matches_1989 = pd.read_csv(atp_matches_1989)
atp_matches_1990 = pd.read_csv(atp_matches_1990)
atp_matches_1991 = pd.read_csv(atp_matches_1991)
atp_matches_1992 = pd.read_csv(atp_matches_1992)
atp_matches_1993 = pd.read_csv(atp_matches_1993)
atp_matches_1994 = pd.read_csv(atp_matches_1994)
atp_matches_1995 = pd.read_csv(atp_matches_1995)
atp_matches_1996 = pd.read_csv(atp_matches_1996)
atp_matches_1997 = pd.read_csv(atp_matches_1997)
atp_matches_1998 = pd.read_csv(atp_matches_1998)
atp_matches_1999 = pd.read_csv(atp_matches_1999)
atp_matches_2000 = pd.read_csv(atp_matches_2000)
atp_matches_2001 = pd.read_csv(atp_matches_2001)
atp_matches_2002 = pd.read_csv(atp_matches_2002)
atp_matches_2003 = pd.read_csv(atp_matches_2003)
atp_matches_2004 = pd.read_csv(atp_matches_2004)
atp_matches_2005 = pd.read_csv(atp_matches_2005)
atp_matches_2006 = pd.read_csv(atp_matches_2006)
atp_matches_2007 = pd.read_csv(atp_matches_2007)
atp_matches_2008 = pd.read_csv(atp_matches_2008)
atp_matches_2009 = pd.read_csv(atp_matches_2009)
atp_matches_2010 = pd.read_csv(atp_matches_2010)


atp_matches_1968['year'] = 1968
atp_matches_1969['year'] = 1969
atp_matches_1970['year'] = 1970
atp_matches_1971['year'] = 1971
atp_matches_1972['year'] = 1972
atp_matches_1973['year'] = 1973
atp_matches_1974['year'] = 1974
atp_matches_1975['year'] = 1975
atp_matches_1976['year'] = 1976
atp_matches_1977['year'] = 1977
atp_matches_1978['year'] = 1978
atp_matches_1979['year'] = 1979
atp_matches_1980['year'] = 1980
atp_matches_1981['year'] = 1981
atp_matches_1982['year'] = 1982
atp_matches_1983['year'] = 1983
atp_matches_1984['year'] = 1984
atp_matches_1985['year'] = 1985
atp_matches_1986['year'] = 1986
atp_matches_1987['year'] = 1987
atp_matches_1988['year'] = 1988
atp_matches_1989['year'] = 1989
atp_matches_1990['year'] = 1990
atp_matches_1991['year'] = 1991
atp_matches_1992['year'] = 1992
atp_matches_1993['year'] = 1993
atp_matches_1994['year'] = 1994
atp_matches_1995['year'] = 1995
atp_matches_1996['year'] = 1996
atp_matches_1997['year'] = 1997
atp_matches_1998['year'] = 1998
atp_matches_1999['year'] = 1999
atp_matches_2000['year'] = 2000
atp_matches_2001['year'] = 2001
atp_matches_2002['year'] = 2002
atp_matches_2003['year'] = 2003
atp_matches_2004['year'] = 2004
atp_matches_2005['year'] = 2005
atp_matches_2006['year'] = 2006
atp_matches_2007['year'] = 2007
atp_matches_2008['year'] = 2008
atp_matches_2009['year'] = 2009
atp_matches_2010['year'] = 2010

In [0]:
tennis = [atp_matches_1968,
         atp_matches_1970,
         atp_matches_1971,
         atp_matches_1972,
         atp_matches_1973,
         atp_matches_1974,
         atp_matches_1975,
         atp_matches_1976,
         atp_matches_1977,
         atp_matches_1978,
         atp_matches_1979,
         atp_matches_1980,
         atp_matches_1981,
         atp_matches_1982,
         atp_matches_1983,
         atp_matches_1984,
         atp_matches_1985,
         atp_matches_1986,
         atp_matches_1987,
         atp_matches_1988,
         atp_matches_1989,
         atp_matches_1990,
         atp_matches_1991, 
         atp_matches_1992,
         atp_matches_1993,
         atp_matches_1994,
         atp_matches_1995,
         atp_matches_1996,
         atp_matches_1997,
         atp_matches_1998,
         atp_matches_1999,
         atp_matches_2000,
         atp_matches_2001,
         atp_matches_2002,
         atp_matches_2003,
         atp_matches_2004,
         atp_matches_2005,
         atp_matches_2006,
         atp_matches_2007,
         atp_matches_2008,
         atp_matches_2009,
         atp_matches_2010]

In [33]:
tennis = pd.concat(tennis)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [34]:
print(tennis.shape)
tennis.head()

(144122, 50)

   best_of  draw_size  l_1stIn  ...  winner_rank_points  winner_seed  year
0        5       64.0      NaN  ...                 NaN          NaN  1968
1        5       64.0      NaN  ...                 NaN          NaN  1968
2        5       64.0      NaN  ...                 NaN          NaN  1968
3        5       64.0      NaN  ...                 NaN          5.0  1968
4        5       64.0      NaN  ...                 NaN          NaN  1968

[5 rows x 50 columns]

In [42]:
tennis.describe(exclude='number')

       loser_entry loser_hand loser_ioc  ... winner_hand winner_ioc    winner_name
count        20490     144095    144122  ...      144106     144122         144122
unique           3          3       135  ...           3        124           3159
top              Q          R       USA  ...           R        USA  Jimmy Connors
freq         13054     121609     29679  ...      121379      33387           1225

[4 rows x 14 columns]

In [39]:
print(tennis.shape)
tennis.isnull().sum()

(144122, 50)

best_of                    0
draw_size             142890
l_1stIn                83164
l_1stWon               83164
l_2ndWon               83164
l_SvGms                83164
l_ace                  83164
l_bpFaced              83164
l_bpSaved              83164
l_df                   83164
l_svpt                 83164
loser_age               4681
loser_entry           123632
loser_hand                27
loser_ht               24784
loser_id                   0
loser_ioc                  0
loser_name                 0
loser_rank             21949
loser_rank_points      74833
loser_seed            117159
match_num                  0
minutes                83155
round                      0
score                    158
surface                 2351
tourney_date               0
tourney_id                 0
tourney_level              0
tourney_name               0
w_1stIn                83164
w_1stWon               83164
w_2ndWon               83164
w_SvGms                83164
w_ace                  83164
w_bpFaced              83164
w_bpSaved              83164
w_df                   83164
w_svpt                 83164
winner_age              1663
winner_entry          132267
winner_hand               16
winner_ht              14925
winner_id                  0
winner_ioc                 0
winner_name                0
winner_rank            18357
winner_rank_points     73839
winner_seed            89735
year                       0
dtype: int64

In [38]:
tennis.dtypes

best_of                 int64
draw_size             float64
l_1stIn               float64
l_1stWon              float64
l_2ndWon              float64
l_SvGms               float64
l_ace                 float64
l_bpFaced             float64
l_bpSaved             float64
l_df                  float64
l_svpt                float64
loser_age             float64
loser_entry            object
loser_hand             object
loser_ht              float64
loser_id                int64
loser_ioc              object
loser_name             object
loser_rank            float64
loser_rank_points     float64
loser_seed            float64
match_num               int64
minutes               float64
round                  object
score                  object
surface                object
tourney_date            int64
tourney_id             object
tourney_level          object
tourney_name           object
w_1stIn               float64
w_1stWon              float64
w_2ndWon              float64
w_SvGms               float64
w_ace                 float64
w_bpFaced             float64
w_bpSaved             float64
w_df                  float64
w_svpt                float64
winner_age            float64
winner_entry           object
winner_hand            object
winner_ht             float64
winner_id               int64
winner_ioc             object
winner_name            object
winner_rank           float64
winner_rank_points    float64
winner_seed           float64
year                    int64
dtype: object

- [ ] Choose your target. Which column in your tabular dataset will you predict?



My Target is winner_name. I need to pick a timespan and determine how many players I want to predict. I assume that my model will be less accurate in predicting players with less games played, but I could be wrong. This also means that I should split by random stratified on my y. This is so that the train and test isn't skewed too much by the amount of players that end up in each category. 

I'm also curious about what my cut off should be for players. Maybe after the two most winningest players I encode them as "other"?

- [ ] Determine whether your problem is regression or classification.

My problem is certainly a multi-class classification.

- [ ] Choose your evaluation metric.

Since my data is somehwat more balanced, I will use accuracy score I think.